@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
/* Shared Styles   */
  main > section{
    max-width: 1440px;
    margin: 0 auto;
  }
  .display-flex{
    display: flex;
  }
  .dark-01{
    color: #131313;
  }
  .dark-02{
    color: #424242;
  }
  .dark-03{
    color: #727272;
  }
  .text-primary{
    color: rgb(255, 144, 14);
  }
  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }
  .btn-primary{
    background-color: rgb(255, 144, 14);
    border-radius: 8px;
    border: none;
    font-weight: 600px;
    font-size: 1.25rem;
    color: rgb(255, 255, 255);
    padding: 20px 25px;
    margin-top: 20px;
  }
  main > section{
    margin-top: 120px;
  }
  
  .card{
    width: 242px;
    height: 242px;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    margin-top: 100px;
    margin-left: 120px;
    /* text-align: center; */

  }

/* Header Styles */



/* Navbar Styles */
  .brand{
    font-size: 3rem;
    font-weight: 700;
  }
  .nav-item{
    list-style: none;
    margin-right: 80px;
  }
  .nav-link{
    text-decoration: none;
  }
  .navbar{
    justify-content: space-between;
    align-items: center;
  }
  .navbar{
    max-width: 1440px;
    margin: 0 auto;
  }
  /* banner styles starts here */
  .banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }
  .banner-title{
    font-weight: 700;
    font-size: 4rem;
  }
  .banner-description{
    line-height: 1.6;
  }
 .banner-img{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  /* teams-features-container styles */
  .teams-features-container{
    align-items: center;
  }
  .image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .feature-container{
    margin-left: 70px;
    max-width: 535px;
  }
  .feature-title{
    font-size: 2.8rem;
    font-weight: 700;
  }
  .feature-description{
    line-height: 1.6;
  }
  #Quick-list{
    font-weight: 500;
  }

  /* Facts Section Styles */
  .Facts-section{
    /* margin: 0 auto; */
  }

  /* Media Query for small device */
  @media screen and (max-width: 576px) {
    .nav-links,
    .banner-img,
    .navbar,
    .teams-features-container {
      flex-direction: column;
    }
    .nav-links{
      gap: 20px;
    }
    .image-container{
      grid-template-columns: repeat(1, 1fr);
    }
    .feature-container{
      margin-left: 20px;
    }
  }

/* Media Query for medium device */
  @media screen and (min-width: 576px) and (max-width:992px) {
    .nav-links,
    .banner-img,
    .navbar,
    .teams-features-container {
      flex-direction: column;
    }
    .nav-links{
      gap: 20px;
    }
    
  }